*{
	font-family: 'Open Sans', sans-serif!important;
	margin: 0;
}
.jumbo{
	background: linear-gradient(45deg, #00B9C3, #00A2F6);
	color:white;
}
.logohome{
	margin-top: 20px;
	margin-bottom: 15px;
}
.head-line{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	text-align: center;
	background-color: #FF6D4A;
	color: white;
}
.contacto li{
	text-decoration: none;
	display: inline;
}
.contacto a{
	color: white;
	text-decoration: underline;
}

.navbar{
	z-index: 110;
}
.linea{
	height: 1px;
	background-color: #EDF1F4;
	margin-bottom: 15px;
	margin-top: 15px;
}
@media (max-width: 480px) {
  .logohome {
   	width: 200px;
  }
}

h3{
	font-weight: 100;
	font-size: 21px;
}

.bodytext{
	font-weight: 100;
}
.cuadro{
	margin:0 auto;
	height: 210px;
	min-width: 210px;
	border-radius: 8px;
	margin-bottom: 10px;

}
.cuadro > p{
	color: white;
	font-weight: bold;
	margin: 0;
}
.cuadro:hover{
	text-decoration: none;
}
.cuadro > span{
	color: white;
	font-size: 13px;

}
.blue{
	background-color: #4D9CFF;
}
.gray{
	background-color: #323C47;
}
.black{
	background-color: black;
}
.rose{
	background-color: #E4405F;
}
.bluefacebook{
	background-color: #3b5998;
}
.social-size{
	width: 70px;
	padding-top: 40px;
	padding-bottom: 10px;
}

span{
	margin: 0;
}

@media (min-width: 992px) {

  }
@media (min-width: 960px) {

  .project {
    flex: 1 150px;
  }
  .project:hover {
	transform: scale(1.1);
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform .3s;
}
.link a{
	text-decoration: none;
}
footer{
	margin-top: 20px;
	background-color: #607d8b;
	margin-bottom: -10px;
	color: white;
	text-align: center;
}
.contenido-footer{
	padding: 20px;
}
.contenido-footer a{
	color: white;
	text-decoration: underline;
}
.love {
	color: red;
	font-size: 20px;

}
.listado{
	background-color: #ff6d4b;
	margin-top:10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.caja-formulario{
	text-align: center;
	margin:0 auto;
	background-color: white;
	border-radius: 8px;
	min-height: 220px;
	max-width: 570px;
	padding: 25px;
}
.caja-formulario p{
	font-size: 19px;
	color: #323c47;
}
.caja-formulario span{
	font-weight: 100;
	font-size: 15px;
}
@media (min-width: 480px) {
	.caja-formulario{
		padding-right: 40px;
		padding-left: 40px;
	}
  }

/* Propiedades del about us */
.presentacion{
	padding-bottom: 80px;
}
.p-style{
    padding: 5px;
    max-width: 800px;
    text-align: justify;
    text-indent: 2.5em;
}
.p{
	font-weight: 300;
	font-size: 17px;
	margin: 0;
	color:#989898;
}
.linea{
	background-color: #f3f7fa;
	height: 1px;
	width: 100%
}


/* linea del titulo naranza */
.h4{
	font-size: 30px !important;
	color:#323c47!important;
	font-weight: 300 !important;
}
.naranja{
	height: 4px;
	width: 100px;
	background-color: #ff6d4b;
}

/* Niveles de experiencia */
.barra{
	padding-top: 30px;
	width: 100%;
	height: 60px;

}
.separacion{
	margin-top: 10px;
}
.separacion2{
	margin-top: 20px;
}
.barra p{
	margin: 0;
	font-weight: 300;
	font-size: 25px;
	color:gray;
}

.progreso{
	width: 100%;
	height: 15px;
	background-color:#e2e8ed;
	border-radius: 5px;
	position: relative;
}
.barra-progreso{
	height: 15px;
	border-radius: 5px;
}

/* defino los porcientos de conocimiento */
.noventa{
	width: 90%;
}
.nuevetres{
	width: 93%;
}
.cuarenta{
	width: 40%;
}
.ochentaycinco{
	width: 85%;
}
.cincuenta{
	width: 50%;
}
/* defino los colores de los conocimientos */
.azul{
	background: -webkit-linear-gradient(left,#0ed8ce, #0ab4e8);
}
.rojo{
	background-color: #fd1758;
}
.verde{
	background: -webkit-linear-gradient(left,#f9ed32, #a6e510);
}
.naranja{
	background: -webkit-linear-gradient(left,#fbb040, #ff6d4b);
}
.violeta{
	background: -webkit-linear-gradient(left,#d5008c, #624096);
}

.punto{
	float: right;
	height: 30px;
	width: 30px;
	margin-top: -8px;
	margin-right: -5px;
	background-color: #f3f7fa;
	border-radius: 100%;
}
.punto-centro{
	height: 15px;
	width: 15px;
	border-radius: 100%;
	margin-left:7px;
	margin-top: 7px;
}

/* numero del % de cada bara */
.porciento{
	height: 25px;
	width: 40px;
	border-radius: 5px;
	background-color:#f3f7fa;
	float: right;
	margin-top: -40px;
	margin-right: -10px;
	position: relative;

}
.porciento p{
	font-size: 13px;
	margin-top: 3px;
}


/* ++++++++++++++++++++++++++++++++ RESPONSIVE+++++++++++++++++++++++++++++++++++++++++++++ */

/* Telefonos */

@media (max-width: 564px) {

.p-style{
    width: 100%;

}
.linea-nombre{
	width: 90%;
}
.separacion-r{
	margin-top: 20px;
}
.porciento-r{
	height: 25px;
	width: 40px;
	border-radius: 5px;
	background-color:#f3f7fa;
	float: right;
	margin-top: -6px;
	margin-right: -50px;
	position: relative;

}
.presentacion{
	padding-top: 40px;

}
}


/* Tablet */
@media (max-width: 991px) {

.p-style{
    max-width: 100%;
    
}

.menu-r{
	margin: 0 auto;

}
.separacion-r{
	margin-top: 20px;
}
.link-p{
	color: black;

}
/* coloco colores del menu bottom */
.hello{
	border-bottom-color: #ffd011;
}
}

.redes span{
	padding: 5px;
}


/* ---------------------------------- INSTAGRAM FEED STYLE ---------------------------------- */
.instablog{
	background-color: #E4405F;
	padding: 10px;
	color: white;

}
.tituloinsta{
	font-size: 25px;
	margin: 0;
}
.textoinsta{
	font-size: 15px;
	font-weight: 300;
	margin: 0;


}
.textoinsta a{
	color: white;
	text-decoration: underline;
}
